table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 80%;
    margin-left: 224px;
    color: white
}

td, th {
    border: 1px solid black;
    text-align: left;
    padding: 8px;
}

    